*{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    /* height: 60px;
    border: 2px solid; */
    font-size: 25px;
    /* 定位 */
    position:fixed;
    left: 0;
    top: 0;
    background-color: rgb(236, 236, 235);
    border-bottom: 1px solid rgb(204, 204, 206);
    z-index: 999;
}
.head{
    width: 1300px;
    height: 60px;
    background-color: rgb(236, 236, 235);
    /* 盒子居中 */
    margin: 0px auto;
    /* overflow: hidden; */
}
/* 三角形 */
.h2-1,.h4-2,.h6-3{
    width: 0px;
    height: 0px;
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;

    /* vertical-align: middle; */
    margin-top: 23px;
    margin-left: 5px;
}
.h1{
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.h2-1,.h2-2{
    float: left;
}
.h2-3{
   
    overflow: hidden;
   
}
.h2-3:hover+.h2-4{
    display: block;
}
/*鼠标放到h2上面  三角形旋转 */
.h2:hover .h2-1{
transform: rotate(540deg);
transition: all .3s;
}
.h2{
    width: 67px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 5px;
    margin-right: 15px;
}

.h2-4{
    width: 300px;
    background-color: antiquewhite;

    /* 隐藏 */
    display: none;
}
.h2-4>p{
    line-height: 40px;
    padding-left: 5px;
}
.h2-4>#wh{
    height: 25px;
    line-height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 12px;
}
/* 去掉小圆点 */
.h2-4 li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.h2-4>ul{
    overflow: hidden;
}
.h3{
    width: 520px;
    overflow: hidden;
}
.h3 li{
    list-style: none;
    float: left;
    margin-right: 23px;
    height: 60px;
    line-height: 60px;
}
.h3 a{
    text-decoration: none;
}
.h3 a:link,.h3 a:visited,.h3 a:hover{
    color: black;
}
#h3{
    height: 60px;
    background-color: red;
}
.h4{
    width: 165px;
    margin-top: 16px;
    overflow: hidden;
}
.h4-1,.h4-2,.h4-3{
    float: left;
    margin-right: 10px;
}
.h4-2{
    margin-top: 14px;
}
.h5{
    font-family: 'icomoon';
    width: 270px;
    /* 父：相对定位 */position: relative;
    margin-top: 8px;
    margin-right: 15px;
}
.h5-1{
    width: 270px;
    height: 40px;
    /* 圆角 */
    border-radius: 20px;
}
.h5-2{
     font-family: 'icomoon';
     /* 子：绝对定位 */
     position: absolute;
     right: -1px;
     top: 2px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: red;
     text-align: center;
     line-height: 40px;
     color: white;
}
.h6-1 img{
    width: 40px;
    height: 40px;
    
}
.h6-1 img,.h6-3{
    float: left;
}
.h6-1 a{
    overflow: hidden;
}
.h6{
    width: 56px;
    margin-top: 10px;
}
.h1,.h2,.h3,.h4,.h5,.h6{
    float: left;
}

.contain{
    width: 1300px;
    height: 1600px;
    background-color: rgb(236,236,235);
    margin:0 auto;
    
    overflow: hidden;
}
.left{
    width: 800px;
    /* height:800px ; */
    margin-right: 50px;
    overflow: hidden;
}
.right{
    width: 450px;
    height:800px ;
    background-color:pink;
}
.left,.right{
    float: left;
}

.c1{
    width: 800px;
    overflow: hidden;
    margin-top: 123px;
}
.c1-1{
width: 210px;
font-size: 25px;
color: red;
float: left;

}
.c1-2{
    width: 50px;
    font-size: 15px;
    float:right;
}
.c1-2 a:link,.c1-2 a:visited{
    color: red;
    text-decoration: none;
}


.c2{
    display: block;
    width: 180px;
    margin-left: 20px;
    text-decoration: none;
    position: relative;
    margin-top: 20px;
    float: left;
    margin-bottom: 20px;
}
.c2 img{
    width: 180px;
    height: 230px;
    vertical-align: bottom;
}
.c2 p{
    width: 100px;
    height: 30px;
    color: red;
    text-align: center;
    line-height: 30px;
}
.c2 p{
    width: 180px;
    height: 30px;
    color: red;
    text-align: center;
    line-height: 30px;
}
.c2 p:hover{
    background-color: red;
    color: white;
}
.c2-1{
    width: 180px;
    overflow: hidden;
    position: absolute;
    top:200px;

}
.c2-1 p:first-child{
    width: 100px;
    color: white;
    font-size: 20px;
    float:left;
}
.c2-1 p:last-child{
    width: 30px;
    color: gold;
    font-size: 20px;
    float: right;
}




.c3{
    width: 800px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 40px;
}
.c3>p{
    width: 300px;
    color: skyblue;
    font-size: 20px;
    float: left;
}
.c3 a{
    width:47px;
    text-decoration: none;
    float: right;
}
.c3 a:link,.c3 a:visited{
    color: skyblue;
}

.c4{
    width: 800px;
    overflow: hidden;
}
#c4{
    width: 180px;
    margin-left: 20px;
    position: relative;
    float: left;
    margin-bottom: 40px;
}
#c4>a{
    display: block;
    width: 180px;
    height: 230px;
    border: 1px solid;
}
#c4 img{
    width: 180px;
    height: 230px;
}
#c4>p{
    width: 180px;
    height: 40px;
    line-height: 40px;
    color: rgb(247,209,108);
    background-color:rgb(238,237,236);
    border-left:1px solid reb(222,222,224);
    border-right:1px solid reb(222,222,224);
    border-bottom:1px solid reb(222,222,224);
}
.c4-1{
    width: 180px;
    overflow:hidden ;
    background-color: rgb(238,237,236);
    border-left: 1px solid blue;
    background-color:rgb(238,237,236);
    border-left:1px solid reb(222,222,224);
    border-right:1px solid reb(222,222,224);
    border-bottom:1px solid reb(222,222,224);
}

.c4-2{
    width: 89px;
    border-right: 1px solid rgb(222,222,224);
    text-align: center;
    line-height: 30px;
    float: left;
}
.c4-1 a{
    text-decoration: none;
    display: block;
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    float: right;

}
.c4-1 a:link,.c4-1 a:visited{
    color: rgb(62, 107, 255);
}
.c4-1 a:hover{
    color: white;
    background-color: rgb(87,87,252);
}
#c4>img{
    width: 30px;
    height: 20px;
    position: absolute;
    left: 1px;
    top:2px;
}
