<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>添加操作</title>
		<!-- 现将vue.js进行引入，因为element ui需要使用 -->
		<script src="./js/vue.js"></script>
		<!-- 引入样式 -->
		<script src="./js/axios.min.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>
		<style>
			#app {
							width: 500px;
							height: 350px;
							border: 1px solid deepskyblue;
							padding: 20px 50px 20px 30px;
							border-radius: 20px;
							box-shadow: 5px 5px 5px deepskyblue;
							margin: 0 auto;
						}
		</style>
	<body>
		<!-- View:视图 显示数据 -->
		<div id="app">
			<el-form :model="commodity" status-icon  ref="commodity" label-width="100px" class="demo-ruleForm">
				
				 <el-form-item label="商品名" prop="commodityName">
					<el-input type="text" v-model="commodity.commodityName" autocomplete="off"></el-input>
				 </el-form-item>
				  
				 <el-form-item label="产地" prop="commodityAuthor">
				   <el-input type="text" v-model="commodity.commodityAuthor" autocomplete="off"></el-input>
				 </el-form-item>
				 
				 <el-form-item label="价格" prop="commodityPrice">
				   <el-input type="text" v-model="commodity.commodityPrice" autocomplete="off"></el-input>
				 </el-form-item>
				 
				 <el-form-item label="保质期" prop="commodityDesc">
				   <el-input type="text" v-model="commodity.commodityDesc" autocomplete="off"></el-input>
				 </el-form-item>
				
				  <el-form-item>
					<el-button type="primary" @click="submitForm">提交</el-button>
					<el-button @click="resetForm('ruleForm')">重置</el-button>
				  </el-form-item>
			</el-form>
		</div>
		<!-- Model:数据模型 -->
		<script>
		  new Vue({
					el: "#app",
					data: {
						commodity: {
							commodityId: '',
							commodityName: '',
							commodityAuthor: '',
							commodityPrice: '',
							commodityDesc: '',
							img:''
						}
					},
					methods: {
						//提交的函数
						submitForm: function() {
							//请求后端的添加方法，将book对象提交给后端
							//axios
							axios.post("http://localhost:9999/commodity/add", JSON.stringify(this.commodity), {
								headers: {
									"Content-Type": "application/json"
								}
							}).then((res) => {
								if (res.data.code == 200) {
									this.$message('添加成功!');
									//跳转表格数据展示页面
									setTimeout(function() {
										location.href = "10-查看商品列表.html";
									}, 500)
								} else {
									this.$message('添加失败!');
								}
							})
						}
					}
				})
		</script>
	</body>
</html>